{% extends "layout.html" %}
{% block content %}
<h1>Page de modification d'un article avec l'identifiant &rarr;
    <span class='info_important'>{{article_a_modifier['identifiant']}}</span> &larr;
</h1>
<div class="container">
    <p class="desktop" id="hautPageDesktop"></p>
    <h2>Section non modifiable de l'article</h2>
    <div class='zone_article_recent'>
        <table class="tabeau_article">
            <tbody>
                <tr>
                    <td class="cle">Auteur :</td>
                    <td class="valeur">{{article_a_modifier['auteur']}}</td>
                </tr>
                <tr>
                    <td class="cle">Identifiant :</td>
                    <td class="valeur">{{article_a_modifier['identifiant']}}</td>
                </tr>
                <tr>
                    <td class="cle">Date de publication :</td>
                    <td class="valeur">{{article_a_modifier['date_publication']}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <h2>Section modifiable de l'article</h2>
    <div class='zone_article_recent'>
        <form action="/admin-modif/article-modification" method="post">
            <div class="modif">
                {% set champ = '' %}
                {% if liste_validation_admin['aucune_modification'] or liste_validation_admin['champ_titre_vide'] %}
                {% set champ = 'erreur' %}
                {% endif %}
                <div class="information {{champ}}">
                    <label for="nom_article">Titre de l'article :</label>
                    <div>
                        <input id="nom_article" maxlength="15" minlength="3" name="nom_article"
                               pattern="[a-z0-9 -'A-Z]{3,15}" required
                               title="charactères alphanumériques permis entre 3 à 15 charactères"
                               type="text" value="{{article_a_modifier['titre']}}">
                        <span class="obligatoire">&nbsp;*</span>
                    </div>
                </div>
                {% set champ = '' %}
                {% if liste_validation_admin['aucune_modification'] or liste_validation_admin['champ_paragraphe_vide']
                %}
                {% set champ = 'erreur' %}
                {% endif %}
                <div class="information {{champ}}">
                    <label for="nom_paragraphe">Paragraphe :</label>
                    <div>
                        <textarea cols="50" id="nom_paragraphe" maxlength="100" minlength="3" name="nom_paragraphe"
                                  required rows="4"
                                  title="charactères alphanumériques permis entre 3 à 100 charactères">{{article_a_modifier['paragraphe']}}</textarea>
                        <span class="obligatoire">&nbsp;*</span>
                    </div>
                </div>
            </div>
            <input name="identifiant" type="hidden" value="{{article_a_modifier['identifiant']}}">
            <input name="nom_auteur" type="hidden" value="{{article_a_modifier['auteur']}}">
            <input name="date_publication" type="hidden" value="{{article_a_modifier['date_publication']}}">
            <input name="nom_article_avant" type="hidden" value="{{article_a_modifier['titre']}}">
            <input name="nom_paragraphe_avant" type="hidden" value="{{article_a_modifier['paragraphe']}}">
            <div class="troisBTN">
                <input class="bouton" type='submit' value="Modifier...">
                <input class="bouton" onClick="reset_modif();" type='reset' value="Effacer...">
            </div>
            {% if liste_validation_admin['situation_erreur'] and validation_erreur %}
            {% for message in article_a_modifier['messages'] %}
            <p class="aucun">{{message}}</p>
            {% endfor %}
            {% elif liste_validation_admin['update_reussi'] %}
            {% for message in article_a_modifier['messages'] %}
            <p class="succes">{{message}}</p>
            {% endfor %}
            {% endif %}
        </form>
    </div>
    <h2>Section pour tous</h2>
    <div class='zone_admin'>
        <div class="admin">
            <a class="bouton seul" href="/">Page D'accueil</a>
        </div>
    </div>
    <h2>Section pour l'administrateur du site</h2>
    <div class='zone_admin'>
        <div class="admin">
            <a class="bouton" href="/admin">Afficher tous les articles</a>
            <a class="bouton" href="/admin-nouveau">Ajouter un nouvel article</a>
        </div>
    </div>
    <!-- https://publicdomainvectors.org/fr/gratuitement-des-vecteurs/Orange-fl%C3%A8che-pointant-vers-le-haut-de-dessin-vectoriel/9499.html -->
    <div class="return">
        <a class="desktop" href="#hautPageDesktop"><img alt="Retour vers le haut" src="/img/fleche_haut.svg"></a>
    </div>
</div>
{% endblock content %}