{% extends "layout.html" %}
{% block content %}
<h1>Voici la page de modification pour l'identifiant &rarr;
    <span class='info_important'>{{liste_champs['identifiant']}}</span> &larr;
</h1>
<div class="container">
    <h2>Section non modifiable de l'article</h2>
    <div class='zone_article_recent'>
        <table class="tabeau_article">
            <tbody>
                <tr>
                    <td class="cle">Auteur :</td>
                    <td class="valeur">{{liste_champs['auteur']}}</td>
                </tr>
                <tr>
                    <td class="cle">Identifiant :</td>
                    <td class="valeur">{{liste_champs['identifiant']}}</td>
                </tr>
                <tr>
                    <td class="cle">Date de publication :</td>
                    <td class="valeur">{{liste_champs['date_publication']}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <h2>Section modifiable de l'article</h2>
    <div class='zone_article_recent'>
        <form action="./article_modification" method="post">
            <div class="modif">
                <div class="information">
                    <label for="nom_article">Titre de l'article :</label>
                    <div>
                        <input id="nom_article" maxlength="15" minlength="3" name="nom_article"
                               pattern="[a-z0-9A-Z-_']{3,15}" required
                               title="charactères alphanumériques permis entre 3 à 15 charactères"
                               type="text" value="{{liste_champs['titre']}}">
                        <span class="obligatoire">&nbsp;*</span>
                    </div>
                </div>
                <div class="information">
                    <label for="paragraphe">Paragraphe :</label>
                    <div>
                        <textarea cols="50" id="paragraphe" maxlength="100" name="nom_paragraphe"
                                  required rows="4">{{liste_champs['paragraphe']}}
                        </textarea>
                        <span class="obligatoire">&nbsp;*</span>
                    </div>
                </div>
            </div>
            <input name="nom_article_avant" type="hidden" value="{{liste_champs['titre']}}">
            <input name="nom_paragraphe_avant" type="hidden" value="{{liste_champs['paragraphe']}}">
            <div class="troisBTN">
                <input class="bouton" type='submit' value="Modifier...">
            </div>
        </form>
    </div>
    <h2>Section pour tous</h2>
    <div class='zone_admin'>
        <div class="admin">
            <a class="bouton" href="/">Page D'accueil</a>
        </div>
    </div>
    <h2>Section pour l'administrateur du site</h2>
    <div class='zone_admin'>
        <div class="admin">
            <a class="bouton" href="/admin">Afficher tous les articles</a>
            <a class="bouton" href="/admin-nouveau">Ajouter un nouvel article</a>
        </div>
    </div>
</div>
{% endblock content %}