{% extends "layout.html" %}
{% block content %}
<h1>Bienvenue à vous ! Administrateur de l'inventaire</h1>
<div class="container">
    <p class="desktop" id="hautPageDesktop"></p>
    {% if liste_validation['aucun_article'] %}
    <p class="aucun">{{liste_champs['messages']['aucun_article']}}</p>
    {% else %}
    {% if liste_champs['nb_article'] > 1 %}
    <h2>Section des <span>{{liste_champs['nb_article']}}</span> articles se trouvant dans la bibliothèque</h2>
    {% elif liste_champs['nb_article'] == 1 %}
    <h2>Section de l'article se trouvant dans la bibliothèque</h2>
    {% endif %}
    {% for cle1, valeur1 in ensembles.items() %}
    <div class='zone_article_recent'>
        <table class="tabeau_article">
            <tbody>
                {% for cle2, valeur2 in valeur1.items() %}
                <tr>
                    <td class="cle">{{cle2}} :</td>
                    <td class="valeur">{{valeur2}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="admin_modif">
            <a class="bouton" href="/admin-modif/{{cle1}}">Modification</a>
        </div>
    </div>
    {% endfor %}
    {% endif %}
    <h2>Section pour tous</h2>
    <div class='zone_admin'>
        <div class="admin">
            <a class="bouton" href="/">Page D'accueil</a>
        </div>
    </div>
    <h2>Section pour l'administrateur du site</h2>
    <div class='zone_admin'>
        <div class="admin">
            <a class="bouton" href="/admin-nouveau">Ajouter un nouvel article</a>
        </div>
    </div>
    <div class="return">
        <a class="desktop" href="#hautPageDesktop">Haut de la page</a>
    </div>
</div>
{% endblock content %}

