{% extends "layout.html" %}
{% block content %}
<div class="container">
    <h2>Section pour tous</h2>
    <div class='zone_404'>
        <div class="admin">
            <a class="bouton_404" href="/">Page D'accueil</a>
        </div>
    </div>
    <!-- Fichier 404-notfound.jpg est une propriété du site https://www.flickr.com/photos/guspim/2280690094/ sous licence libre -->
    <div class="erreur_404">
        <img alt="" src="/img/404-notfound.jpg" title="Erreur 404">
    </div>
</div>
{% endblock content %}