<!doctype html>
<html lang="fr">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <meta content="Gestion d'une Bibliotheque" name="description">
    <!-- «Réutilisation permise» -->
    <!-- https://pixabay.com/fr/illustrations/livres-ic%C3%B4ne-ic%C3%B4ne-de-livre-symbole-1673578/  -->
    <link href="/img/icone-web.png" rel="shortcut icon">
    <link href="/css/admin.css" rel="stylesheet" type="text/css">
    
    {% if titre %}
    <title>Biblio - {{ titre }}</title>
    {% else %}
    <title>Biblio - CMS</title>
    {% endif %}
</head>
<body>
    {% block content %}{% endblock %}
</body>
</html>