{% extends "layout.html" %}
{% block content %}
<div class="content">
    <div class="center">
        <p class='titre'>Bienvenue à la page de connexion des statistiques du poker entre amis !</p>
        <ul>
            <li class='info'>Vous devez vous authentifier, pour faire afficher les statistiques désirées,</li>
        </ul>
        <fieldset>
            <legend class="legendCenter">Connexion !</legend>
            <form action="./login" method="post">
                <div class="connexion">
                    {% if liste_validation['champ_user_vide'] or liste_validation['user_inexistant'] %}
                    <div class="information erreur">{% else %}
                    <div class="information">{% endif %}
                        <label for="user">Nom d'utilisateur :</label>
                        <div>
                            <input autofocus id="user" maxlength="15" name="user" type="text" value="">
                            <span class="obligatoire">&nbsp;*</span>
                        </div>
                    </div>
                    {% if liste_validation['champ_password_vide'] or liste_validation['password_invalide'] %}
                    <div class="information erreur">{% else %}
                    <div class="information">{% endif %}
                        <label for="password">Mot de passe :</label>
                        <div>
                            <input id="password" maxlength="25" name="password" type='password' value="">
                            <span class="obligatoire">&nbsp;*</span>
                        </div>
                    </div>
                </div>
                <div class="troisBTN">
                    <input class="bouton" name='signUp' type='submit' value="Se Connecter">
                    <input class="bouton" type='reset' value="Effacer">
                    <a class="boutonLink" href="/register">S'enregistrer</a>
                </div>
            </form>
        </fieldset>
    </div>
    <div class="footer">
        {% if liste_validation['situation_erreur'] %}
        <div class="erreur">
            <ul>
                {% for message in messages %}
                <li>{{message}}</li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
    </div>
</div>
{% endblock content %}