{% extends "layout.html" %}
{% block content %}
<div class="content">
    <div class="center">
        <p class='titre'>Bienvenue à la page de connexion des statistiques du poker entre amis !</p>
        <ul>
            <li class='info'>Vous devez vous authentifier, pour faire afficher les statistiques désirées,</li>
            <li class='info'>Si vous n'avez pas de compte, veuillez vous en créer un.</li>
            <li class='info'>Veuillez spécifier un nom d'utilisateur et un courriel unique.</li>
        </ul>
        <fieldset>
            <legend class="legendCenter">Création de Compte !</legend>
            <form action="./register" method="post">
                <div class="connexion">
                    {% if liste_validation['champ_user_vide'] or liste_validation['user_existant'] or
                    liste_validation['user_password_eqal'] %}
                    <div class="information erreur">{% else %}
                        <div class="information">{% endif %}
                            <label for="user">Nom d'utilisateur :</label>
                            <div>
                                <input autofocus id="user" maxlength="15" name="user" type="text" value="">
                                <span class="obligatoire">&nbsp;*</span>
                            </div>
                        </div>
                        {% if liste_validation['champ_password_vide'] or liste_validation['user_password_eqal'] %}
                        <div class="information erreur">{% else %}
                            <div class="information">{% endif %}
                                <label for="password">Mot de passe :</label>
                                <div>
                                    <input id="password" maxlength="25" name="password" type='password' value="">
                                    <span class="obligatoire">&nbsp;*</span>
                                </div>
                            </div>
                            {% if liste_validation['champ_email_vide'] or liste_validation['email_existant'] %}
                            <div class="information erreur">{% else %}
                                <div class="information">{% endif %}
                                    <label for="email">Courriel :</label>
                                    <div>
                                        <input id="email" maxlength="50" name="email" placeholder="exemple@domaine.com"
                                               type='email' value="">
                                        <span class="obligatoire">&nbsp;*</span>
                                    </div>
                                </div>
                            </div>
                            <div class="troisBTN">
                                <input class="bouton" name='signUp' type='submit' value="Enregistrer">
                                <input class="bouton" type='reset' value="Effacer">
                                <a class="boutonLink" href="/login">Se Connecter</a>
                            </div>
            </form>
        </fieldset>
    </div>
    <div class="footer">
        {% if liste_validation['situation_erreur'] %}
        <div class="erreur">
            <ul>
                {% for message in messages %}
                <li>{{message}}</li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
    </div>
</div>
{% endblock content %}